<div class="row col-md-10">

	<div id="bigUserImg">User Image</div>

	<form>
		<p>Name <input type="text" name="name" id="name" disabled></p>
		<p>School <input type="text" name="school" id="school"></p>
		<p>Email <input type="text" name="email" id="email"></p>
		<p>Username <input type="text" name="user" id="user">
		<p>Password <input type="password" name="pass" id="pass">
		   Confirm Password <input type="password" name="pass" id="pass"></p>
		<p>Phone <input type="text" name="phone" id="phone"></p>

		<button>Sumbit</button>				

	</form>


</div>
		