<div ng-controller="uploadsCtrl" class="row col-md-10 col-md-offset-1 text-center" ngcloak>

<h2>File Uploads</h2>
	<!-- <button class="btn btn-default"><span class="glyphicon glyphicon-paperclip"> Upload</span></button> -->

	<form id="dropzone" action="/uploads" method="post" class="dropzone" enctype="multipart/form-data">
		<!-- <div class="fallback"> -->
			<input type="file" name="file">
			<input type="hidden" name="username" ng-value="username">
		<!-- </div> -->
		<div class="dz-default dz-message dz-clickable">
			<span class="glyphicon glyphicon-paperclip"> Drop files here to upload and click "Upload"</span>
		</div>
	</form>

	<button class="btn btn-default btn-primary" ng-click="uploadFile()"><span class="glyphicon glyphicon-paperclip"> Upload</span></button>
	<button id="reset" class="btn btn-danger" ng-click="reset()"><span class="glyphicon glyphicon-remove"> Reset</span></button>
</div>	
	

	