.header {
	/*border: 1px solid #000;*/
}

.glyphicon {
	line-height: unset;
}

.logo {
	float: left;
}

.headerLinks {
	list-style-type: none;
}

.headerLinks li {
	float: left;
}

nav {
	z-index: 1000;
	background-color: #000080;
}

#loginBox {
	/*border: 1px solid #000;*/
	width: 15%;
	/*height: 100px;*/
	display: none;
	z-index: -1000;
	margin-top: 50px;
	float: right;
	border-top: none;
	padding: 20px 0px 5px 5px;
	min-width: 300px;
	margin-right: 50px;
}

div.glyphicon {
	/*border: 1px solid #FFF;*/
	padding: 0px 20px 0px 20px;
	display: inline-block;
	position: absolute;
	left: 0;
	bottom: 0;
}

#loginContainer {
	/*float: right;*/
	border: 1px solid #000;
	/*padding: 0px 20px 0px 20px;*/
	/*overflow: hidden;*/
	float: right;
	position: relative;
	height: 100%;
/*	padding-left: 25px;
	padding-right: 25px;*/
	text-align: center;
	min-height: 57px;
	/*margin-bottom: 0;*/
	line-height: 25px;
	width: auto;
	margin-right: 100px;
}

ul.nav {
	width: auto;
}

.navbar-brand {
/*	border: 1px solid #000;*/
	float: left;
	display: inline-block;
	height: 100%;
	/*padding: 5px 20px;*/
	color: #FFF;
	line-height: unset;
	padding-left: 50px;
	padding-right: 50px;
}

.navContainer {
	/*border: 1px solid #000;*/
	overflow: hidden;
	display: inline-block;
	/*float: left;*/
	height: 100%;
	min-height: 50px;
}

.nav {
	width: 100%;
}

menu-bar {
	display: block;
	margin-bottom: 57px;
}

.sidebar {
	padding-top: 50px;
	background-color: #AE0202;
	border-right: 1px solid #000;
}

.bottom-ul {
	border-top: 2px solid #FFF;
}

.dash-boxes {
	border: 1px solid #F5F6F7;
/*	width: 20%;*/
	height: 15%;
	margin-top: 20px;
	padding-left: unset;
	padding-right: unset;
}

.boxTitle {
	background-color: #002E55;
	color: #FFF;
	font-size: 14pt;
	font-weight: bold;
	text-align: center;
}

.boxContent {
	background-color: #FFF;
	padding: 5px;
}


/* bootstrap overriding */
.glyphicon-user {
	color: #FFF;
}

.glyphicon-user:before {
	padding-right: 3px;
}

.main {
	background-color: #FCFCFD;
	padding: unset;
}



/* media queries    */

@media (min-width: 768px){
	.container{
		width: 700px;
	}

	.navbar-right {
		margin-right: 0;
	}
}

.glyphicon {
	top: unset;
}
