/* General css  */
/*html {
	background-color: #FCFCFD;
}*/

/*body {
	font-family: Myriad Pro;
}*/

html, body {
	height: 100%;
}

.pagesBgColor {
	background-color: #FCFCFD;
}

label {margin-right: 1.5%}

a {
	color: #FFF;
}

.glyphicon {
	line-height: unset;
}

.logo {
	float: left;
}

.headerLinks {
	list-style-type: none;
}

.headerLinks li {
	float: left;
}

nav {
	z-index: 1000;
	background-color: #000080;
}

.pointer {
	cursor: pointer;
}

input[type=text], input[type=password] {
	border-radius: 3px;
	border: 1px solid #e6e6e6;
	padding: 5px 8px;
	font-size: 16px;
}

ng-include, div[ng-controller=menubarCtrl] {
	display: block;
}

div.glyphicon {
	/*border: 1px solid #FFF;*/
	padding: 0px 20px 0px 20px;
	display: inline-block;
	position: absolute;
	left: 0;
	bottom: 0;
}

/* nav bar */

#embedded-sidebar {
	/*display: none;*/
	border-color: #010161;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	box-shadow: inset 0 1px 0
	rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.1);
}

.navbar-toggle .icon-bar {
	background-color: #FFF;
}

.navbar-collapse {
	padding-left: unset;
	padding-right: unset;
}

.navbar-collapse li a {
	padding-left: 25px;
}

#menubar-ul {
	margin-left: 10.5%;
}

#loginContainer {
	/*float: right;*/
	border: 1px solid #030386;
	/*padding: 0px 20px 0px 20px;*/
	/*overflow: hidden;*/
	float: right;
	position: relative;
	height: 100%;
/*	padding-left: 25px;
	padding-right: 25px;*/
	text-align: center;
	min-height: 57px;
	/*margin-bottom: 0;*/
	line-height: 25px;
	width: auto;
	margin-right: 100px;
}

ul.nav {
	width: auto;
}

.navbar-brand {
/*	border: 1px solid #000;*/
	float: left;
	display: inline-block;
/*	height: 100%;*/
	/*padding: 5px 20px;*/
	color: #FFF;
	line-height: unset;
	padding-left: 25px;
	padding-right: 75px;
}

.navbar-brand img {
	margin-top: 0;
}

.navContainer {
	/*border: 1px solid #000;*/
	overflow: hidden;
	display: inline-block;
	/*float: left;*/
	height: 100%;
	min-height: 50px;
}

.nav {
	width: 100%;
}

menu-bar {
	display: block;
	margin-bottom: 57px;
	color: #FFF;
}

.menuHolder {
	margin-bottom: 58px;
}

.sidebar {
	padding-top: 50px;
	background-color: #AE0202;
	border-right: 1px solid #000;
	/*text-align: center;*/
	color: #FFF;
}

.first-row {
	margin-top: 35px;
}

.dash-boxes {
	height: 15%;
/*	margin-top: 20px;*/
	padding-left: unset;
	padding-right: unset;
	/*border-radius: 3px;*/
	margin-bottom: 30px;
}

.boxTitle {
	background-color: #002E55;
	color: #FFF;
	font-size: 14pt;
	font-weight: bold;
	text-align: center;
	border-top: none;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;	
	/*border-radius: 2px;*/
}

.boxContent {
	border: 1px solid #F5F6F7;
	border-top: none;
	background-color: #FFF;
	padding: 5px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

/*  Home.html */

img#collage {
	max-width: 100%;
	max-height: 100%;
}


/* Login div */
#loginBox {
	border: 1px solid #E6E6E6;
	width: 15%;
	/*height: 100px;*/
	/*display: none;*/
	z-index: 1000;
	/*margin-top: 50px;*/
	float: right;
	/*border-top: none;*/
	padding: 0px 10px 5px 10px;
	min-width: 300px;
	/*margin-right: 50px;*/
	border-radius: 3px;
	position: absolute;
	right: 30px;
	background-color: #FFF;
}

#loginBox h3 {
	text-align: center;
	background-color: #C4332F;
	color: #FFF;
	margin-top: 8px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#loginRegisterLink {
	float: right;
	padding: 5px;
	color: #AE0202;
}

#loginRegisterLink a:link {
	color: #AE0202;
}

#loginRegisterLink a:visited {
	color: #AE0202;
}

#loginRegisterLink a:hover {

}

#loginRegisterLink a:active {
	color: #AE0202;
}


/*  uploads.html  */
input[type=file] {
	visibility: hidden;
	position: absolute;
	top: 0;
	height: 0;
	width: 0;
}


/* sidebar */
/*.glyphicon-home:before {
	padding-right: 5px;
}

span[class~="glyphicon-"] {
	padding-left: 10px;
}*/

div.col-md-2, div.col-sm-3 {
	padding-left: unset;
	padding-right: unset;
}

#outer-container {
	height: 200px;
}

#top-ul {
	height: 50%;
	/*width: 75%;*/
	margin: 0 auto;
	font-size: 12pt;
}

#top-ul li a {
	/*padding-left: 75px;*/
	padding-left: 25%;
}

#bottom-section {
	height: 100%;
}

#bottom-aligner {
	display:inline-block;
	height:100%;
	vertical-align: bottom;
	width:3px;
}

#bottom-ul {
	border-top: 1px solid #FFF;
	position: absolute;
	bottom: 50px;
	width: 100%;
}

ul.nav > li > ul > li {
	list-style-type: none;
	display: none;
}

/* Register.html */
h2 {
	margin-bottom: 20px;
	color: #AE0202;
}

#registerForm {
	border: 1px solid #F1F2F4;
	padding: 0px 30px 10px 30px; 
	border-radius: 3px;
	margin-top: 30px;
	background-color: #FFF;
}

#registerForm input[type=text], #registerForm input[type=password] {
	border-radius: 3px;
	border: 1px solid #e6e6e6;
	padding: 5px 8px;
	font-size: 16px;
}

/*#registerForm input[type=password] {
	width: 200px;
}*/

.floatLeft {
	float: left;
	margin-right: 55px;
}

.clear {
	clear: both;
}

#embedded-sidebar {
	display: none;
}

/* students.html  */

.uploadLinks{
	color: #000080;
}

/* bootstrap overriding */

.row {
	height: 100% !important;
}
.navbar-collapse.in {
	overflow-y: unset;
}

.navbar-collapse {
	overflow-x: unset;
}

.container-fluid > .navbar-collapse {
	border-color: #010161;
}

.glyphicon-user {
	color: #FFF;
}

.glyphicon-user:before {
	padding-right: 3px;
}

.main {
	background-color: #FCFCFD;
/*	padding: unset;*/
	/*padding: 20px;*/
	height: 100%
}

/*  Profile.html  */

#editProfile input[type=text], #editProfile input[type=password] {
	border-radius: 3px;
	border: 1px solid #e6e6e6;
	padding: 5px 8px;
	font-size: 16px;
}


#bigUserImg {
/*	width: 11%;*/
	/*height: 50px;*/
	border: 1px solid #000;
	padding: 3px 4px 3px 3px;
	overflow: hidden;
	margin-bottom: 25px;
	max-width: 133px;
	margin: 0 auto;
}

/*#editProfile {
	margin-top: 25px;
}*/

p.footer {
	position: relative;
	bottom: 0;
}

/*  override dropzonejs  */
form.dropzone {
	border: unset;
	border: 2px dashed rgba(0, 0, 0, 0.3);
	font-size: 13pt;
}

form#dropzone {
	margin-bottom: 30px;
}


/*  footer */
.footer {
/*	position: absolute;
	bottom: 5px;
	left: 0;
	right: 0;*/
	margin-top: 200px;
}



/* media queries    */

@media (max-width: 768px){

	#menubar-ul {
		margin-left: unset;
	}

	#bottom-ul {
		display: none;
	}

	#embedded-sidebar {
		display: block;
	}

	.moveDown {
		margin-top: 180px;
	}

	.col-sm-12 {
		padding-right: unset;
	}

	.menuHolder {
		margin-bottom: 51px;
	}
}

@media (min-width: 768px){
	.container{
		width: 700px;
	}

	.navbar-right {
		margin-right: 0;
	}

	.sidebar {
		position: fixed;
		top: 51px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		padding: 20px;
		overflow-x: hidden;
		overflow-y: auto;
		border-right: 1px solid #f5f5f5;
		padding-top: 100px;
	}

	.main {
		/*padding-right: 40px;
		padding-left: 40px;*/
	}
}

.glyphicon {
	top: unset;
}
