<nav class="navbar navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class="navbar-brand"><a href="/"><img src="imgs/starlink.png" ></a></div>
		</div>
		<div id="navbar" class="navbar-collapse collapse" aria-expanded="false">
			<ul class="nav navbar-nav navbar-left" id="menubar-ul">
				<li class="active"><a href="/">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>

			<ul class="nav nav-sidebar" id="embedded-sidebar">
				<li><a href="/dash"><span class="glyphicon glyphicon-home"> Dashboard</span></a></li>
				<li><a href="/profile"><span class="glyphicon glyphicon-pencil"> Profile</span></a>
					<ul>
						<li><span class="glyphicon glyphicon-cog"> Change Password</span></li>
					</ul></li>
				<li><a href="/uploads"><span class="glyphicon glyphicon-open"> Uploads</span></a></li>
				<li><a href="#"><span class="glyphicon glyphicon-education"> Scholarships</span></a></li>
			</ul>

			<div id="loginContainer" class="nav navbar-right" ng-show="!isLoggedIn">
				<div ng-click="toggle()" class="pointer glyphicon glyphicon-user" style="color: #FFF">Login</div>
			</div>

			<div id="logoutContainer" class="nav navbar-right" ng-show="isLoggedIn">
				<a href="/logout"><div class="pointer glyphicon glyphicon-user" style="color: #FFF">Logout</div></a>
			</div>		
		</div>		
	</div>
</nav>
		
<!-- <div id="loginBox" class="ng-hide animate-show"> -->
<div id="loginBox" ng-show="showLogin">
	<h3>Member Login</h3>
	<form>
		<div class="form-group">Username <input type="text" class="form-control" id="user" ng-model="user" name="user" required></div>
		<div class="form-group">Password <input type="password" class="form-control" name="pass" id="pass" ng-model="pass"  required></div>
		<button class="btn btn-default btn-danger" id="btnLogin" ng-click="logMeIn(user, pass)">Login</button>
	</form>
	<p id="loginRegisterLink"><a href="#/register">Register</a></p>
</div>
